* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 768px;
  background-color: white;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto";
}

header {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
}
header a {
  position: absolute;
  text-decoration: none;
  margin-left: 30px;
  padding-top: 20px;
}
header .fa-arrow-left {
  display: flex;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  width: 197px;
  max-height: 100%;
  margin-top: 14px;
  margin-bottom: 13px;
}
header .widthImg {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: grid;
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  background: #F6F6F6;
  padding-bottom: 70px;
  position: relative;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
}
.restaurants h2 {
  font-size: 28px;
  font-weight: 400;
  margin-left: 5px;
  padding-top: 50px;
  font-family: "Shrikhand";
}
.restaurants .h-full {
  opacity: 0;
  transition: 1500ms;
  transform: scale(0.8);
  position: absolute;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.restaurants .h-full:hover {
  opacity: 1;
  transform: scale(1.2);
  position: absolute;
}
.restaurants .h-empty {
  display: flex;
  justify-content: flex-end;
}

.restaurants .card-list .card .card-content .h-empty:hover {
  transition: opacity(0) 700ms;
}

.restaurants .like-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  left: 85%;
  top: 3.8%;
}
.restaurants .card-list {
  width: 100%;
  gap: 15px;
  align-items: center;
  padding-top: 40px;
}
.restaurants .card-list h3 {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 4px;
  border-bottom: 2px solid #99E2D0;
  width: 43px;
  margin-bottom: 15px;
}
.restaurants .card-list .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 95%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #000000;
  position: relative;
  overflow: hidden;
}

.card:nth-child(2) {
  animation: appear 0.5s;
}

.card:nth-child(3) {
  animation: appear 1s;
}

#card3 {
  animation: appear 1.5s;
}




@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.restaurants .card-list .card .card-content {
  position: relative;
  margin-left: 14px;
  margin-top: 14px;
}
.restaurants .card-list .card .card-content p {
  font-size: 17px;
}
.restaurants .card-list .card .card-content .card-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}
.restaurants .card-list .card .card-content .prix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -20px;
  margin-right: 15px;
  font-weight: bold;
  transition: transform 500ms ease;
}
.restaurants .card-list .card .card-content .check {
  right: -60px;
  bottom: -20px;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: 0.5s ease, opacity 1.5s ease;
}

.card-content:hover .check {
  opacity: 1;
  transform: translateX(-60px);
  transition: 0.5s ease;
}

.card-content p {
  
  max-width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.card-content:hover .card-title {
  
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.card-content:hover p {
  max-width: 60%;
}

.card-content:hover .prix {
  transform: translateX(-60px);
}

@media screen and (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
  }
  footer {
    height: 114px;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  footer h1 {
    display: flex;
    padding-left: 87%;
    padding-top: 60px;
    position: absolute;
  }
  footer .center-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
    margin-top: 70px;
    gap: 50px;
  }
  footer .center-right li {
    margin-bottom: 8px;
  }
}
.btn-reserver {
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 186px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: transform 200ms;
}
.btn-reserver:hover {
  transform: scale(1.1);
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  height: 186px;
  padding-left: 25px;
  padding-top: 22px;
  font-size: 16px;
}
footer ol {
  list-style: none;
}
footer ol li {
  padding-bottom: 7px;
}
footer ol li .margeLi1 {
  margin-right: 11px;
}
footer ol li .margeLi2 {
  padding-right: 17px;
}
footer h1 {
  margin-bottom: 16px;
  font-family: "Shrikhand";
  font-size: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants {
    margin-left: 90px;
    margin-right: 90px;
  }
  .restaurants .titre-centre {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  .restaurants .like-btn {
    margin-left: -5%;
  }
  
  .restaurants svg {
    height: 84px;
  }
}

/*# sourceMappingURL=A-la-française.css.map */